<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="index::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="index::header"></header>

<div class="container text-center py-3" >
    <div class="panel bg-light">
        <div class="panel-heading">
            <h3 class="panel-tittle text-danger">
                <span th:text="${error}"></span> - <span th:text="${status}"></span>
            </h3>
        </div>
        <div class="panel-body">
            <img src="/images/error.png" width="48px" height="48px">
        </div>
        <br>
        <h4>Existen campos Vacios en la carga</h4>
        <br>
        <button class="btn btn-success" onclick="goBack()">&laquo;Regresar </button>
    </div>
</div>

<footer th:replace="index::footer"></footer>

<script>
    function goBack(){
        window.history.back();
    }
</script>

</body>
</html>
