<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- th:replace="templates/index::head" -->

<head th:replace="index::head">
    <meta charset="UTF-8">
    <title>Libros CRUD</title>
</head>

<body>

    <header th:replace="index::header"></header>


    <div class="container">
        <div th:if="${!listaProfesor.isEmpty()}">

            <h1 th:text="${titulo}"></h1>

            <table class="table table-dark table-hover">

                <form th:action="@{/actividad/actividad/} + ${alumno.id}" method="get" class="form ">

                    <label for="actividades">Seleccione la Actividad :</label>
                    <select class="form-select" aria-label="Default select example" name="actividad">
                        <option th:each="actividad: ${actividades}" th:text="${actividad.nombre}"
                            th:value="${actividad.nombre}">
                        </option>
                    </select>
                    <!-- <span class="form-text text-danger" th:if="${#fields.hasErrors('actividades')}"
                    th:errors="${'actividades}">Error Actividad</span> -->
                    <br>

                    <label for="localidad">Localidad :</label>
                    <select class="form-select text" aria-label="Default select example" name="localidad">
                        <option th:each="localidad: ${localidades}" th:text="${localidad.nombre}"
                            th:value="${localidad.id}">
                            Listado</option>
                    </select>
                    <br>

                    <label for="provincia">Provincia :</label>
                    <select class="form-select text" aria-label="Default select example" name="provincia">
                        <option th:each="provincia: ${provincias}" th:text="${provincia.nombre}"
                            th:value="${provincia.id}">
                            Listado</option>
                    </select>
                    <br>



                    <button type="submit"> buscar</button>
                    <br>
                    <!-- <a class="btn btn-info">Buscar Actividad</a> -->
                </form>


                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Profesion</th>
                        <th scope="col">Loc.</th>
                        <th scope="col">Prov.</th>
                        <th scope="col">Id. Act.</th>
                        <th scope="col">Actividad</th>
                        <th scope="col">Descripcion</th>

                        <th scope="col">Seleccionar</th> <!-- sec:authorize="hasRole('ROLE_ADMIN')" -->
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="profesor: ${listaProfesor}">
                        <p>
                            <td th:text="${profesor.nombre}"></td>
                            <td th:text="${profesor.apellido}"></td>
                            <td th:text="${profesor.profesion}"></td>
                            <td th:text="${profesor.localidad.id}"></td>
                            <td th:text="${profesor.provincia.id}"></td>
                            <td>
                                <p th:each="actividad: ${profesor.actividadProfesor}" th:text="${actividad.id}"></p>
                            </td>
                            <td>
                                <p th:each="actividad: ${profesor.actividadProfesor}" th:text="${actividad.nombre}"></p>
                            </td>
                            <td>
                                <p th:each="actividad: ${profesor.actividadProfesor}"
                                    th:text="${actividad.descripcionActividad}"></p>
                            </td>

                            <td><a href="/" title="Seleccionar" class="btn btn-success btn-sm">Sleccionar</a></td>
                        </p>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${listaProfesor.isEmpty()}">La lista profesores esta vacia</div>

    </div>

    <footer>
        <div th:replace="index::footer">

        </div>
    </footer>

</body>

</html>